<div class="w3-container w3-card w3-white w3-round w3-margin">
    <br>
    <div class="w3-row">
        <img src="{{post.user_key.image.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;height:60px;object-fit: cover">
        <a href="{% url 'profiles:profile_others_view' user_id=post.user_key.id %}">
            <h4 class="w3-left" style = "text-transform:capitalize;"> {{post.user_key.full_name}} </h4>
        </a>
        <span class="w3-right w3-opacity">{{ post.created_at }}</span>
        <br>
        {%if request.user == post.user_key%}
        <a href="{% url 'posts:post_delete' post_id=post.idposts %}" class="w3-right" style="color: red;">delete</a>
        {% endif %}
    </div>


    <hr class="w3-clear">

        <p> {{ post.content }}</p>

    <hr class="w3-clear">


    <div>
        <!-- Reaction system start -->
        <div class="app w3-left">
            <div @mouseleave='hideIt' class="reactionContainer" style="display: inline-block;">
                <div class="button-squad" :class="{hideIt:isHidden}"  >
                    <button @click="likeIt"  type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                    <button @click="loveIt"  type="button" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-heart"></i></button>
                    <button @click="dislikeIt" type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                </div>

            </div>
            <br>
            <br>
            <!-- <div class="well">
                <ol>
                    <li>likes:5</li>
                    <li>Love:2</li>
                    <li>Dislike:0</li>
                </ol>
            </div> -->
        <!-- Reaction system end -->
        </div>
        <div class="w3-right">
            <p>{{post.comment_count}} comments</p>
        </div>
        {%if show_button%}
        <a href="/{{post.idposts}}/details/" style="text-decoration: none;">
        <button type="button" class="w3-center w3-block w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> Show Comments </button>
        </a>
        {% endif %}
    </div>
</div>
