{% load widget_tweaks %}
<form action="{% url 'profiles:edit_password' %}" method="POST">
    {% csrf_token %}
    {% for hidden in edit_password_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}    
    {% for field in edit_password_form.visible_fields %}
        <div class="w3-row">
            <div class="w3-row">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            {{field}}
            {% if field.help_text %}
                <small>{{field.help_text}}</small>
            {% endif %}
            {%for error in field.errors %}
                <div>
                    <small style="color:mediumturquoise">{{ error }}</small>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endfor %}
    <div>
        <input type="submit" class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge"  class="w3-display-right" value="Save">
    </div>
</form>