<div class="w3-margin">
    <div class="email">
        <h3 style=" font-weight: bold;">Email</h3>
        <p class="details">{{user.email}}</p>
    </div>
    <div class="birthday">
        <h3 style=" font-weight: bold;">Birthday</h3>
        <p class="details">{{profile_obj.birthdate}}</p>
    </div>
    <div class="gender">
        <h3 style=" font-weight: bold;">Gender</h3>
        <p class="details">{{profile_obj.gender}}</p>
    </div>
    <div class="nationality">
        <h3 style=" font-weight: bold;">Country</h3>
        <p class="details">{{profile_obj.country}}</p>
    </div>
    <div class="address">
        <h3 style=" font-weight: bold;">Career</h3>
        <p class="details">{{profile_obj.career}}</p>
    </div>
    <br>
</div>